h1 {

  line-height: 1;
  margin-bottom: 10px;
}

.stay-productive p {
//  margin: 16px auto;
  margin: 9px auto;
}

section .about {
//  margin: 1% 0;
  margin: 0;
}

.one, .two, .three, .four {
  margin: 5%;
}

section.products {
//   width: 375px;
//   height: 1036px;
   width: 100%;
   height: auto;
   margin: 15% 0;
 }

 section .stay-productive div {
//   width: 330px;
   width: 89%;
      margin: 0;
 }

 .stay-productive h1 {
//    font-size: 18px;
    font-size: 2em;
  }

  .stay-productive p, .stay-productive li, .footer-bottom p, .footer-bottom li {
( … Skipping 152 matching lines … )
div.main {

  width: 100%;
//  left: 0px;
  margin: 0px;
}
