@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  body: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* change colours to suit your needs */
ins {
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul.links li:hover, a.link-2:hover, .about p.click:hover, .click:hover {
  color: yellow;
}

a.link-2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.5;
  color: #62E0D9;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #62E0D9;
  display: block;
  width: fit-content;
}

h1 {
  font-family: "raleway", serif;
  font-weight: bold;
  color: white;
  line-height: 1.5;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.5;
}
p.quote {
  font-size: 14px;
}
p.author {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
}
p.author-title {
  font-size: 7px;
  line-height: 1.43;
}

ul.links li {
  font-family: "raleway", serif;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  font-size: 16px;
}

.about {
  text-align: center;
}
.about p {
  font-size: 20px;
  margin: 32px auto;
}
.about p.click {
  font-family: "raleway", serif;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  font-size: 16px;
}
.about h1 {
  font-size: 40px;
  margin-top: 36px;
}

.products, .early-access {
  text-align: center;
}
.products p, .early-access p {
  font-size: 14px;
  margin-top: 8px;
}

.footer-bottom p, .footer-bottom li {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.5;
  font-size: 0.8em;
}

.stay-productive p {
  margin: 16px auto;
}
.stay-productive p, .stay-productive li {
  font-size: 16px;
}
.stay-productive li {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.5;
}

.products h1 {
  font-size: 20px;
  margin-top: 16px;
}

.stay-productive h1 {
  font-size: 40px;
}

.testimonials p {
  letter-spacing: 0.5px;
  width: 309.3px;
}

.early-access h1 {
  font-size: 32px;
}

figure .location {
  height: 18px;
  width: auto;
}
figure .phone, figure .email {
  height: 24px;
  width: 24px;
}

.social i {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.5;
  font-size: 21px;
  width: auto;
  color: white;
}

label.click {
  font-family: "raleway", serif;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  font-size: 16px;
}

@media only screen and (max-width: 375px) {
  h1 {
    line-height: 1;
    margin-bottom: 10px;
  }

  ul.links {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
  }

  .about h1 {
    font-size: 24px;
    margin-top: 36px;
    width: 300px;
    margin: 0 auto;
  }
  .about p {
    font-size: 14px;
    margin: 32px 64px;
  }
  .about p.click {
    font-family: "raleway", serif;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    font-size: 14px;
  }

  .stay-productive h1 {
    font-size: 2em;
  }
  .stay-productive p {
    margin: 9px auto;
  }

  .stay-productive p, .stay-productive li, .footer-bottom p, .footer-bottom li {
    font-size: 14px;
  }

  p.quote {
    font-size: 10px;
  }

  .testimonials p {
    letter-spacing: 0.5px;
    width: 210px;
  }

  .early-access h1 {
    font-size: 18px;
  }

  section.early-access p {
    width: 90%;
    margin: 0 auto;
  }
}
html, body {
  background: #1c2431;
}

@media (max-width: 1440px) {
  section .container {
    background-color: #1c2431;
    width: 100%;
    height: auto;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.main {
  background-color: #181f2a;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .about {
  background-image: url(../../build/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .products {
  width: 72%;
  height: 508px;
  margin: 10% 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
section .stay-productive {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3%;
}
section .stay-productive div {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
section .stay-productive figure.productive {
  margin: 5% 0;
}
section .stay-productive figure.productive img {
  width: 100%;
  height: auto;
}
section.early-access {
  background-color: #0b1523;
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.early-access div.layer {
  width: 60%;
  height: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -9% auto;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: #1c2431;
  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
  border-radius: 9px;
}
section.early-access p {
  width: 90%;
}
section.early-access .flex {
  width: 709px;
  height: 192px;
  flex-direction: column;
  justify-content: space-between;
}
section.early-access .flex .email {
  margin-top: 20px;
}
section .footer-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 310px;
  color: white;
}
section.contact {
  display: flex;
  flex-direction: column;
}
section.social {
  color: white;
}

.one, .two, .three, .four {
  width: 42%;
}
.one figure img, .two figure img, .three figure img, .four figure img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

div.click {
  background-image: linear-gradient(111deg, #65e2d9, #339ecc);
  width: 27%;
  height: 56px;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
div.click label.click {
  width: 100%;
  text-align: center;
}
div.phone, div.email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.phone figure, div.email figure {
  margin: 0 20px 16px 0;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 247px;
  margin: 0 auto 16%;
}
.testimonials figure.behind {
  position: absolute;
  top: 2407px;
  margin-left: 9%;
}
.testimonials .one, .testimonials .two, .testimonials .three, .testimonials .four {
  background: #202a3c;
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
  border-radius: 3.93px;
}

.group {
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  top: 2545px;
  align-items: flex-end;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
.profile .name-title {
  display: flex;
  flex-direction: column;
  width: 258px;
}

input, select {
  vertical-align: middle;
  width: 65%;
  height: 48px;
  border-radius: 24px;
}

figure.author-pic img {
  width: 24px;
  height: auto;
  border-radius: 24px;
}
@media only screen and (max-width: 1350px) {
  .group {
    justify-content: space-around;
    width: 100%;
  }

  .testimonials figure.behind {
    visibility: hidden;
  }

  section.early-access div.layer {
    width: 75%;
  }
}
@media only screen and (max-width: 900) {
  section.early-access .flex {
    width: 90%;
  }
}
@media only screen and (max-width: 375px) {
  body {
    width: 100%;
  }

  section.container {
    width: 100%;
  }

  img.logo {
    width: 80px;
  }

  section .about {
    width: 100%;
    margin: 0px;
  }

  .one, .two, .three, .four {
    width: 325px;
    margin: 4%;
  }

  .about figure img {
    width: 304px;
    height: auto;
    margin: 0 auto;
  }

  div.click {
    background-image: linear-gradient(111deg, #65e2d9, #339ecc);
    width: 27%;
    height: 48px;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }

  .testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    flex-direction: column;
    width: 300px;
  }
  .testimonials .one, .testimonials .two, .testimonials .three, .testimonials .four {
    width: 280px;
    height: 133px;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    align-items: center;
    z-index: 1;
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
    border-radius: 3.93px;
    justify-content: space-evenly;
  }
  .testimonials figure.behind {
    position: absolute;
    top: 1930px;
    left: 35px;
  }

  .group {
    display: flex;
    justify-content: space-between;
    margin: 65px auto;
    width: 328px;
    flex-direction: column;
  }

  .profile {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90%;
  }
  .profile .name-title {
    display: flex;
    flex-direction: column;
    width: 164px;
  }

  input, select {
    vertical-align: middle;
    width: 280px;
    height: 48px;
    border-radius: 24px;
    margin: 0 0 20px;
  }

  section.early-access {
    background-color: #0b1523;
    width: 100%;
    height: 275px;
    padding-top: 55px;
    position: absolute;
    top: 3199px;
  }
  section.early-access div.layer {
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #1c2431;
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
    border-radius: 9px;
    position: absolute;
    top: -70px;
    left: 38px;
  }
  section.early-access .flex {
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
  }
  section.early-access .flex .email {
    width: 300px;
  }
  section.products {
    width: 100%;
    height: auto;
    margin: 15% 0;
  }
  section .stay-productive {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  section .stay-productive figure img {
    width: 304px;
    height: auto;
    margin: 0 auto;
  }
  section .stay-productive div {
    width: 89%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .flex div.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div.main {
    background-color: #181f2a;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
}
footer {
  background-color: #0b1523;
  width: 100%;
  padding-top: 4%;
}

.footer-top {
  margin: 0 7% 1%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 7% 2%;
}
.footer-bottom p {
  margin: 0 0 0 5%;
}
.footer-bottom .lorem p {
  margin: 0 0 0 5%;
}
.footer-bottom section {
  width: 13%;
}
.footer-bottom .links ul {
  display: flex;
  flex-direction: column;
  height: 160px;
  flex-wrap: wrap;
  width: 100%;
}
.footer-bottom ul li {
  list-style-type: none;
  padding: 0px 74px 16px 0;
}
.footer-bottom section.social {
  width: 23%;
  display: flex;
  justify-content: center;
}
.footer-bottom section.lorem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 23%;
}
.footer-bottom .contact p {
  padding: 0 0 16px 0;
}

.svg-inline--fa {
  height: 1.5em;
}

.svg-inline--fa.fa-w-14 {
  width: 5em;
}

@media only screen and (max-width: 1500px) {
  footer {
    padding-top: 13%;
  }

  .footer-bottom p {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1350px) {
  .footer-bottom, .footer-top {
    margin: 0 3% 2%;
  }

  div.phone, div.email {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.phone figure, div.email figure {
    margin: 0 16px 12px;
  }
}
@media only screen and (max-width: 375px) {
  footer {
    background-color: #0b1523;
    top: 3526px;
    position: absolute;
  }

  .footer-top {
    margin-bottom: 45px;
    width: 375px;
  }

  a.footer-logo {
    margin-left: 50px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 20px;
    flex-direction: column;
  }
  .footer-bottom section.lorem {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer-bottom section.contact {
    width: 300px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0 50px;
  }
  .footer-bottom .links {
    width: 230px;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 50px;
  }

  .links ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .links li {
    list-style: none;
    padding: 15px 0 0;
  }

  .footer-top {
    margin-bottom: 32px;
  }

  .footer-bottom p {
    margin: 0;
  }
  .footer-bottom section.lorem {
    width: 379px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
  }
  .footer-bottom section.lorem figure.location {
    margin: 21px;
  }
  .footer-bottom .social {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 25px;
  }
  .footer-bottom .links {
    width: 230px;
    display: flex;
    flex-direction: column;
  }
  .footer-bottom .links li {
    list-style: none;
    padding: 10px 0px;
  }
  .footer-bottom .contact {
    width: 171px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }

  .links ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 52px;
  align-items: center;
  padding: 75px 0px;
}
header a.logo {
  height: 100%;
}

@media only screen and (max-width: 375px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    margin: 35px 5px;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 27px;
    align-items: center;
  }
}
ul.links li {
  font-family: "raleway", serif;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  font-size: 16px;
  padding: 0 23px;
}

ul.links {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 375px) {
  ul.links {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
  }

  ul.links li {
    font-family: "raleway", serif;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    font-size: 16px;
    padding: 0px 16px;
  }
}

/*# sourceMappingURL=main.css.map */
