header {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 52px;
  align-items: center;
  margin: 75px 80px;
  a.logo {
    height: 100%;
  }
}

@media only screen and (max-width: 375px) {

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    margin: 35px 5px;
  }
  header {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 27px;
    align-items: center;
  }
}
