//*************
//COLORS
//*************

$font-black: #333333;
$font-white: hsl(0, 0%, 100%);
$bckg-intro-email: hsl(217, 28%, 15%);
$bckg-main : hsl(218, 28%, 13%);
$bckg-footer : hsl(216, 53%, 9%);
$bckg-testimonials : hsl(219, 30%, 18%);

    //gradients
    $cyan: hsl(176, 68%, 64%);
    $blue: hsl(198, 60%, 50%);

//*************
//BREAKPOINTS
//*************
$breakpoint-desktop: 1440px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;


//*************
//FONT STYLES
//*************
//$font-light: ;
//$font-book: ;
//$font-medium: ;
//$font-large: ;
